{% extends 'base.html.twig' %}

{% block body %}

     <div class="container col-4 offset-4">
    {% include "@App/form/formulaire.html.twig" %}
        </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}"/>

{% endblock %}