{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <b>Filtrer les sorties</b>
            <div class="md-5">

            </div>
            <div class="md-4">

            </div>
            <div class="md-3">

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
